{% extends "layout.jinja2" %}
{% set active_page = 'posts' -%}

{% block content %}
  <main class="container">

    {% if reply_to %}
      <label class="label">Svarar @{{ reply_to_user.username }}</label>
      <article class="message">
        <div class="message-body">
          {{ reply_to.content }}
        </div>
      </article>
    {% endif %}

    <form method="post" action="{{ request.current_route_url() }}">
      <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

      <div class="field">
        <label class="label" for="post">Inlägg</label>
        <p class="control">
          <input id="post" name="post" type="text" class="input is-primary" value="{{ post.content }}"
                 autofocus autocomplete="off">
        </p>
      </div>

      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a id="cancel" class="button is-light" href="{{ 'posts' | route_url }}">
            Avbryt
          </a>
        </p>
        <p class="control">
          <input type="submit" name="submit" class="button is-primary" accesskey="" value="Posta">
        </p>
      </div>
    </form>

  </main>

  <script>
    document.body.addEventListener('keydown', function (event) {
      if (event.code === 'Escape') {
        event.preventDefault();
        document.querySelector('#cancel').click();
      }
    })
  </script>
{% endblock %}
