{% extends "layout.jinja2" %}
{% set title = 'Inlägg' -%}

{% block content %}
  <input type="hidden" id="csrf_token" value="{{ get_csrf_token() }}">
  <div class="container">
    {% for post in posts recursive %}
      <article class="media" id="post-{{ post.post_id }}">
        <figure class="media-left">
          <p class="image is-48x48">
            <span class="icon is-large avatar">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>@{{ users[post.user_id].username }}</strong>
              <small>
                <time datetime="{{ post.created_at }}">{{ post.created_at[:10] }}</time>
              </small>
              <br>
              {{ post.content | safe }}
              <br>
              <small class="is-unselectable">
                <span class="tag is-rounded {{ '' if post.likes else 'is-hidden' }}" id="likes-{{ post.post_id }}">{{ post.likes }}</span>
                {% if request.user %}
                <a onclick="Posts.like({{ post.post_id }})">Gilla</a> · <a href="{{ 'reply-post' | route_url(post=post.post_id) }}">Svara</a> · {{ post.created_at | since }}
                {% endif %}
              </small>
            </p>
          </div>

          {%- if post.replies -%}
          {{ loop(post.replies) }}
          {%- endif -%}
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock content %}

{% block scripts %}
  <script defer src="{{ 'unsafe:static/js/posts.js' | static_url }}"></script>
{% endblock scripts %}
