{% extends "layout.jinja2" %}

{% block title %}
  Startsida
{% endblock %}

{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Startsida
        </h1>
        <h2 class="subtitle">
          Osäker webb
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <p>
          En applikation för att demonstrera några vanliga säkerhetsbrister.
        </p>
      </div>

        <div class="content">
          <h3>Resurser för utvecklare</h3>
          <ul>
            <li>
              <a href="https://github.com/OWASP/CheatSheetSeries/blob/master/Index.md" target="_blank">OWASP Cheat Sheet Series</a>
            </li>
          </ul>
        </div>
      </div>
  </section>
{% endblock %}
