{% extends "layout.jinja2" %}
{% set title = 'Startsida' -%}
{% set active_page = 'index' -%}

{% block content %}
  <main class="container">
    <div class="content">
      <p>
        En applikation för att demonstrera några vanliga säkerhetsbrister.
      </p>
    </div>

    <div class="content">
      <h3>Resurser för utvecklare</h3>
      <ul>
        <li>
          <a href="https://github.com/OWASP/CheatSheetSeries/blob/master/Index.md" target="_blank">OWASP Cheat Sheet
            Series</a>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}
