{% extends "layout.jinja2" %}
{% set title = 'Startsida' -%}

{% block content %}
  <main class="container">
    <div class="content">
      <p>
        Denna applikation består av två delar.
      </p>

      <ol>
        <li>
          Diskussion och demonstration av <a href="{{ 'topics' }}">säkerhetsproblem och sårbarheter</a>
          i webb-applikationer.
        </li>

        <li>
          Funktionerna <a href="{{ 'notes' | route_url }}">Anteckningar</a>
          och <a href="{{ 'posts' | route_url }}">Inlägg</a> används för att
          både demonstrera brister och visa hur de kan åtgärdas.
        </li>
      </ol>

    </div>

    <div class="content">
      <h3>Resurser</h3>
      <ul>
        <li>
          <a href="https://github.com/OWASP/CheatSheetSeries/blob/master/Index.md">OWASP Cheat Sheet
            Series</a>
        </li>
        <li>
          <a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top 10</a>
          <sup>(<a href="https://www.owasp.org/images/7/72/OWASP_Top_10-2017_%28en%29.pdf.pdf" target="_blank">2017</a>)</sup>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}
