{% extends "layout.jinja2" %}
{% set title = 'Utloggad' -%}
{% set active_page = 'logout' -%}

{% block heading %}
{% endblock %}

{% block content %}
  <div class="columns is-mobile is-centered">
    <main class="column is-narrow" style="width: 100%; max-width: 300px">
      <h1 class="title">
        Utloggad
      </h1>

      <p>
        Du är utloggad.
        <a href="{{ 'login' | route_url }}">Logga in</a> igen.
      </p>
    </main>
  </div>
{% endblock %}
