{% extends "layout.jinja2" %}

{% block title %}
  Utloggad
{% endblock %}

{% block content %}
  <div class="columns is-mobile is-centered">
    <main class="column is-narrow" style="width: 100%; max-width: 300px">
      <h1 class="title">
        Utloggad
      </h1>

      <p>
        Du är utloggad.
        <a href="/login">Logga in</a> igen.
      </p>
    </main>
  </div>
{% endblock %}
