{% extends "layout.jinja2" %}
{% set active_page = 'notes' -%}

{% block content %}
  <main class="container">

    <form method="post" action="{{ request.current_route_url() }}">
      <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

      <div class="field">
        <label for="note">Anteckning</label>
        <div class="control">
          <textarea id="note" name="note" class="textarea" rows="10" autofocus>{{ note.content }}</textarea>
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a id="cancel" class="button is-light" href="{{ 'notes' | route_url }}">
            Avbryt
          </a>
        </p>
        <p class="control">
          <button type="submit" class="button is-primary" accesskey="">
            Spara
          </button>
        </p>
      </div>

    </form>

  </main>

  <script>
    document.body.addEventListener('keydown', function (event) {
      if (event.code === 'Escape') {
        event.preventDefault();
        document.querySelector('#cancel').click();
      }
    })
  </script>
{% endblock %}
