{% extends "layout.jinja2" %}
{% set title = 'Anteckningar' -%}

{% block stylesheets %}
  <style>
    .level-item {
      justify-content: flex-start;
    }

    input.is-date {
      max-width: 9rem;
    }

    @media screen and (max-width: 768px) {
      .control .button.is-static {
        width: 8rem;
      }

      input[type=search] {
        width: 17rem;
      }
    }

    @media screen and (min-width: 769px) {
      input[type=search] {
        max-width: 15rem;
      }
    }

  </style>
{% endblock stylesheets %}

{% block content %}
  <main class="container">
    <form method="get" action="{{ request.current_route_url() }}">

      <input name="embedded" type="hidden" value="{{ request.embedded }}">

      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="field has-addons">
              <p class="control" aria-hidden="true">
                <a class="button is-static">
                  <span class="is-hidden-tablet">
                    Från:
                  </span>
                  <span class="is-hidden-mobile">
                    Från datum:
                  </span>
                </a>
              </p>
              <p class="control">
                <input class="input is-date"
                       name="from"
                       id="from"
                       no-pattern="\d{4}-\d{2}-\d{2}"
                       placeholder="åååå-mm-dd"
                       aria-label="Sök anteckningar från och med datum"
                       type="text"
                       value="{{ from }}">
              </p>
            </div>
          </div>
          <div class="level-item">
            <div class="field has-addons">
              <p class="control" aria-hidden="true">
                <a class="button is-static">
                  Till:
                </a>
              </p>
              <p class="control">
                <input class="input is-date"
                       name="to"
                       id="to"
                       no-pattern="\d{4}-\d{2}-\d{2}"
                       placeholder="åååå-mm-dd"
                       aria-label="Sök anteckningar till och med datum"
                       type="text"
                       value="{{ to }}">
              </p>
            </div>
          </div>

          <div class="level-item">
            <div class="field">
              <p class="control has-icons-right">
                <input class="input"
                       name="search"
                       type="search"
                       placeholder="Sök anteckning"
                       aria-label="Sök anteckningar"
                       value="{{ search }}"
                       autofocus onfocus="this.select()">
                <span class="icon is-small is-right">
                  <i class="fas fa-search"></i>
                </span>
              </p>
            </div>
          </div>

        </div>

        <div class="level-right">
        </div>
      </nav>

      <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1">Sök
      </button>
    </form>
    <table class="table is-fullwidth is-hoverable">
      <thead>
      <tr>
        <th style="width: 10%">#</th>
        <th style="width: 10%">Kategori</th>
        <th style="width: 50%">Innehåll</th>
        <th style="width: 20%">Tidpunkt</th>
        <th style="width: 10%">
          <a class="button is-primary" href="{{ 'new-note' | route_url }}">
            <span>Ny</span>
            <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
          </a>

        </th>
      </tr>
      </thead>
      <tbody>
      {% for note in notes %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ note.category }}</td>
          <td>{{ note.content | abbrev }}</td>
          <td>{{ note.created_at }}</td>
          <td>
            <a class="button is-small"
               href="{{ 'note' | route_url(note=note.note_id) }}">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </a>

            <a class="button is-small is-danger"
               onclick="deleteNote(event)"
               href="{{ 'note-action' | route_url(_query={'action': 'delete', 'id': note.note_id}) }}">
              <span class=" icon is-small">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <p class="subtitle is-5">
            {% if notes %}
              <strong>{{ notes | count }}</strong>
            {%- else -%}
              Inga
            {% endif %}
            anteckningar
          </p>
        </td>
      </tr>
      </tfoot>
    </table>
  </main>
{% endblock %}

{% block scripts %}
  <script defer src="{{ 'unsafe:static/js/modal.js' | static_url }}"></script>

  <script>
    function deleteNote(event) {
      event.preventDefault();

      const deleteSideEffectUrl = event.currentTarget.href;

      const performDelete = () => {
        fetch(deleteSideEffectUrl, {credentials: 'include'})
          .then(response => {
            if (response.ok) {
              window.location.reload();
            } else {
              alert('Kunde inte ta bort');
            }
          })
      };

      const modal = new Modal({
        title: 'Bekräfta',
        message: 'Vill du ta bort anteckningen?',
        buttons: [
          {role: 'delete', title: 'Ja, ta bort den', class: 'is-danger'},
          {role: 'cancel', title: 'Nej, behåll den'}
        ]
      });

      modal
        .on('delete', performDelete)
        .always(() => modal.destroy())
        .show();

    }
  </script>
{% endblock %}
