{% extends "topics/base.jinja2" %}

{% block topic %}
  <h3>En sak</h3>
  <a class="embed" href="{{ 'notes' | route_url(_query={'search':'semlor'}) }}">Test</a>

  <h3>En sak till</h3>
  <a class="embed" href="{{ 'notes' | route_url(_query={'search':'semlor'}) }}">Test</a>
{% endblock topic %}
